 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello! </p>
                    <p>I am an 18 year old student.</p>

                    <p> I already started making creative stuff when I was young.
                        I am the third generation of family members who make and
                        sell handmade products.
                    </p>

                    <p> I started with felt and thread, but since 2016 I started
                        crafting with Fimo clay and I was sold!
                    </p>

                    <p> When I found out people loved personalized jewellery and
                        gifts I started to sell them. The thing I love most are
                        the custom orders, specific wishes that I can make come true,
                        that is my ultimate goal.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
