 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello! </p>
                    <p>I am an 18 year old student.</p>

                    <p> I already started making creative stuff when I was young.
                        I am the third generation of family members who make and
                        sell handmade products.
                    </p>

                    <p> I started with felt and thread, but since 2016 I started
                        crafting with Fimo clay and I was sold!
                    </p>

                    <p> When I found out people loved personalized jewellery and
                        gifts I started to sell them. The thing I love most are
                        the custom orders, specific wishes that I can make come true,
                        that is my ultimate goal.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p> Enjoy looking around, and if you feel just as amazed as I
                        do about my collection, feel free to share the enthusiasm
                        and spread the word! That would mean so much to me!
                    </p> 

                    <p> This website is still under construction because I have a new name, logo etc., but thank you for visiting this website!
                        I am still not a professional, just a hobbyist and I am so 
                        proud of this website already!
                  </p>
                 
                  <p> If you want to order something, you can fill in the contract form. Specify which product you would like, mention any desired changes (or describe your custom order)
                      and add a note if it is a gift :) I will then contact you to make an agreement for an etsy purchase.
                 </p>

                  <p> Enjoy my website! </p>

                  <p> Love, </p>

                  <p> Rianne </p>
                </div>
               
            </div>
        </div>
    </section>
